[2015-01-26 02:18] SuperGeekJake opened #8 "Error Code 3 on User Authentication"
I'm unsure as to why I would be continually receiving a fail response on user authentication with the error code 3.

[Project Repo](https://github.com/SuperGeekJake/atomized-pandora)

[2015-01-26 08:26] winny- commented on #8
I see the following parameters: `/services/json/?method=auth.userLogin&partner_id=42`

Your user login request is missing the auth token. http://6xq.net/playground/pandora-apidoc/json/errorcodes/

http://6xq.net/playground/pandora-apidoc/json/ explains the url parameters that should be in most requests. And here's an example of what values should be in the URL: https://github.com/HermesApp/Hermes/

[2015-01-26 16:34] SuperGeekJake commented on #8
Whoops, completely skipped over reading everything passed *User auth token*. Thanks so much for your reply.

[2015-01-26 16:34] #8 closed

[2015-01-26 21:05] winny- commented on #8
Good luck on your Pandora client! :pizza:

[2015-04-15 03:19] Mitchell-Findley opened #9 "conversion to hex after encryption"
I have had some trouble posting with uppercase letter hex. These issues went away when i saw all incoming in was lowercase hex. I switched mine to always send lowercase hex and the errors went poof. I think this should be documented as hex strings are supposed to be uppercase.

[2015-04-15 11:10] seliver commented on #9
You mean "supposed to be lowercase".

[2015-04-16 15:54] PromyLOPh commented on #9
Fixed, see aa39278d93c6a3f803db968a86e8a9ef499acd48

[2015-06-06 11:10] #9 closed

[2015-12-14 12:22] jcass77 opened #11 "Request: updates to API docs"
I had a look at the *ads* branch of pianobar for examples of how to implement ad-handling support in pydora and Mopidy-Pandora.

It's working fairly well and I was wondering if you have any other insights that are not reflected in the API documentation yet?

https://github.com/PromyLOPh/pianobar/commit/fbfc5f1d5508533454187171024625ec05daa88d lists a bunch of additional parameters to the JSON call

[2015-12-14 12:46] jcass77 commented on #11
...maybe this question should be:is there an easy way to include a sample of the JSON response for each optional parameter to better understand the effect it has?

[2015-12-14 13:18] PromyLOPh commented on #11
Unfortunately no. I only looked briefly at the Android client and
implemented it (hopefully) the same way.

I don’t know either. These are parameters the official Android client
sends.  They’re not required though, which is why I did not bother to
document them yet.

There’s no secret documentation in my back pocket that I can pull out ;)
If you want to know what the switches do then you’ll have t

[2016-01-19 20:26] jcass77 commented on #11
This has been addressed in https://github.com/PromyLOPh/pandora-apidoc/pull/12.

[2016-01-19 20:26] #11 closed

[2016-04-20 13:15] JasonLG1979 opened #15 "Toggle Explicit Content Filter"
The Explicit Content Filter can be toggled with:

Method:
user.setExplicitContentFilter

arg:
isExplicitContentFilterEnabled : <i>boolean</i>

It returns nothing and has no effect if the Explicit Content Filter is PIN Protected. The state of the filter and PIN protection can ofc be checked with user.getSettings. It doesn't take effect until the next playlist.(i.e. any prior uncensored playlist doe

[2016-04-20 14:57] PromyLOPh commented on #15
The method I’m using with pianobar is already documented:
https://6xq.net/pandora-apidoc/json/account/#user-changesettings

Go ahead, you can’t break anything.

[2016-04-20 19:05] JasonLG1979 commented on #15
user.changeSettings isExplicitContentFilterEnabled : <i>boolean</i>

causes a code 9 error

[2016-04-21 07:05] PromyLOPh commented on #15
Interesting, it works for me. Did you include all the required
parameters (pianobar code:
https://github.com/PromyLOPh/pianobar/blob/master/src/libpiano/request.c#L407)?

[2016-04-22 12:48] JasonLG1979 commented on #15
I was missing 'userInitiatedChange' (is that documented?) 'currentUsername' and 'currentPassword' Pithos doesn't user the user's password and username for anything but initial authentication from then on it uses the userAuthToken(we don't even storing it as an object in pandora.py, I had to modify the code slightly to get user.changeSettings isExplicitContentFilterEnabled to work) so it's more con

[2016-04-23 06:34] PromyLOPh commented on #15
Yes, these are documented, userInitiatedChange is optional.

I see.

[2016-06-29 02:51] anonpenguin opened #19 "Question: musicToken returned from addSeed/getStation"
I noticed that `music.addSeed` / `station.getStation` in the Stations API return a hex-encrypted `musicToken`:

[code]

This doesn't seem to be the same `musicToken` as the one returned from `music.search`, i.e. when you try to use it toe create a new station you get an error. I tried decrypting it with the passwords from [Partner passwords](https://github.com/PromyLOPh/pandora-apidoc/blob/master/

[2016-06-29 06:39] PromyLOPh commented on #19
Encrypting the musicToken doesn’t make sense. It’s probably just a
hex-encoded integer value. I don’t know why this musicToken is different
from those returned by music.search and what it is used for.

[2016-07-17 15:49] #15 closed

[2016-10-20 07:45] JasonLG1979 commented on #19
The musicToken returned from a search is actually a musicId. As in just like the musicId's returned in the songs in a playlist.  AFAIK the only way to get the musicToken(again really a musicId) from the seeds is to do a search on the seed's description in the above case  "Foo Fighters" you would use that musicToken to create your new station. But before you create your new station you'd have to de

[2017-01-14 03:47] JasonLG1979 opened #20 "INVALID_COUNTRY_CODE and INVALID_GENDER are the same error code.(1027)"

[2017-01-14 12:36] PromyLOPh commented on #20
The codes were extracted from the Android app. I have not checked them
yet.

[2017-01-15 09:17] JasonLG1979 commented on #20
Here in the next few days I'll try creating an account with purposely in valid genders and country codes(I assume that's where those errors would popup?) and see what I get.

[2017-02-20 17:54] TheWithz opened #21 "Extra parameter needed not in documentation?"
When using method **auth.userLogin** I am getting a error code 4 _URL_PARAM_MISSING_PARTNER_ID_. The documentation says that you only need 5 parameters, the method name, the login type, username, password, and partnerAuthToken. but when I send
`{
"loginType" : "user",
"username" : "uname",
"password" : "passwd",
"partnerAuthToken" : "token"}` to _http://tuner.pandora.com/services/json/?method=auth

[2017-02-20 19:12] PromyLOPh commented on #21
auth_token is missing, see
https://github.com/PromyLOPh/pianobar/blob/master/src/libpiano/request.c#L105

[2017-02-21 05:31] TheWithz commented on #21
I'm a bit confused because in this instance, isn't the `auth_token` url parameter the same as the `partnerAuthToken` you send via the json? Or are they different? I'm sending to _https://tuner.pandora.com/services/json/?method=auth.userLogin&auth_token=token&partner_id=id_ now and it is returning an error code 0.

[2017-02-21 18:58] PromyLOPh commented on #21
As far as I see you’re also missing the syncTime key in your JSON
request.

[2017-02-21 21:06] TheWithz commented on #21
Ok I understand what I'm doing wrong now. Sorry for the confusion!

[2017-02-22 04:49] TheWithz commented on #21
I'm sorry to bother you again, but this is just unbelievably frustrating. I keep receiving error code 0 when trying to log in as a user. I am sending this json:
`{
  "syncTime": 1872069792,
  "password": "*********",
  "loginType": "user",
  "partnerAuthToken": "token",
  "username": "*****@gmail.com"
}` where syncTime is the **(**_current time of partner log in_ **minus** _the decrypted time_**)*

[2017-02-22 07:40] brunoescalona commented on #21
Hi!
I am having the same issue that you. I don't know who to obtain the auth_token parameter for the url. Is it the same as the partner authentification token?

[2017-02-22 14:32] PromyLOPh commented on #21
@TheWithz: Alot of implementations are available already, have a look at
https://6xq.net/pandora-apidoc/json/implementations/ Either one of these
already fits your needs or you can look at their requests and figure out
what exactly is different from yours. Error 0 is pretty generic and I
don’t know what is wrong at the moment. Are you encrypting the HTTP POST
body?

@brunoescalona: auth_token is t

[2017-02-22 16:26] brunoescalona commented on #21
@PromyLOPh Thank you for the response.
@TheWithz are you still having the same issue with the syncTime? Could you give me an example to calculate that parameter? (I have no idea how to decrypt the time obtained from Pandora).

[2017-02-22 17:27] TheWithz commented on #21
@brunoescalona I used something called **Blowfish** to decrypt the sync time. What language are you using?

@PromyLOPh I'm writing an API wrapper in Java, because there is none yet, and I want to interface it with another Java project I am working on. I encrypted the JSON post body with the partner password listed in the API doc. Was there a different encryption I am supposed to be using?

[2017-02-22 17:33] brunoescalona commented on #21
@TheWithz right now I am not using any language. I want to implement it in Node.js but at the moment I am trying to obtain as much info as I can. At the moment I am using POST request by hand  with POSTMAN tool, but I am not able to obtain any results. Just the partner authentication.
In the login request I get the 0 error code. I am stucked right now.

[2017-02-22 20:18] PromyLOPh commented on #21
Nope, just checking.

[2017-02-23 00:38] TheWithz commented on #21
Just to clarify in case I'm getting this wrong, am I supposed to encrypt the final json or each key value pair individually

[2017-02-23 14:33] PromyLOPh commented on #21
The entire request body:

Unless noted otherwise JSON-encoded requests sent by the client within
the HTTP POST body are encrypted using Blowfish ECB and converted to
hexadecimal notation with lowercase letters.
-- https://6xq.net/pandora-apidoc/json/

[2017-03-02 08:08] brunoescalona commented on #21
@TheWithz Hi, How do you get the syncTime decoded exactly? I am using blowfish with the partner password as key but I can't get a time. I am using [blowfish](https://github.com/bored-engineer/blowfish.js).

[2017-03-08 16:04] TheWithz commented on #21
@brunoescalona at first I got it working, but now two weeks later I am receiving error code 13s on any command i try to run. I think it might have something to do with the fact that Pandoras website got updated...

[2017-03-08 20:45] brunoescalona commented on #21
@TheWithz ok! but I would like just to know how did you do the decoding stuff I was trying to obtain something valid but I just get incoherent data and numbers....

[2017-04-01 00:24] FireController1847 opened #22 "Help! Can't even get my partner login."
http://tuner.pandora.com/services/json/?method=auth.partnerLogin&username=android&password=AC7IBG09A3DTSYM4R41UJWL07VLN8JI7&deviceModel=android-generic&version=5&includeUrls=false&returnDeviceType=false&returnUpdatePromptVersions=false

I'm trying this, and I've tried various other usernames and passwords as well, but they all end in Code: 9. I can't figure out what value I'm missing, I have EVERY

[2017-04-01 09:07] PromyLOPh commented on #22
Only the four values listed here[1] are URL parameters. Everything else
is part of a JSON object in the request body, see example at [2].

[1] https://6xq.net/pandora-apidoc/json/
[2] https://6xq.net/pandora-apidoc/json/authentication/#partner-login

[2017-04-01 15:24] FireController1847 commented on #22
@PromyLOPh Wow, I feel so dumb. Thanks for the help! :D

[2017-04-01 15:32] #22 closed

[2017-04-02 00:37] FireController1847 commented on #21
@brunoescalona I'm trying to do the same and create a Node.js API. Have you gotten past the Code 0 error? If so, how did you fix it?

[2017-04-03 14:45] brunoescalona commented on #21
@FireController1847 sorry for my delay.
No at the moment I have stopped that project but I am still stucked in that point. I can obtain the partner login but I am not able to decode properly the syncTime.

[2017-04-03 18:52] FireController1847 commented on #21
@brunoescalona Aww, alright.

[2017-04-04 05:56] brunoescalona commented on #21
@FireController1847 here I have all the code I did for the partner authentication but I could not do the login. Just it is usefull for you....
[pandora node.js](https://bitbucket.org/brunoescalona/pandoraapi)
If you can decode the syncTime or make some advance just let me know please :)

[2017-04-04 06:47] FireController1847 commented on #21
@brunoescalona I was able to decode syncTime using the blowfish module you were talking about. Maybe you were having issues for it? Even with syncTime, I couldn't get past the Code 0 error on Postman.

[2017-04-04 06:53] PromyLOPh commented on #21
Looking at request.js, you’re using the wrong password to decrypt the
syncTime. You need the “decrypt password” listed here:
https://6xq.net/pandora-apidoc/json/partners/#partners

[2017-04-04 07:00] FireController1847 commented on #21
@PromyLOPh I'm pretty sure I was using that, as it's giving me the correct syncTime from my knowledge. https://img.visual-fire.com/942yk.png

[2017-04-04 07:02] FireController1847 commented on #21
It's be great if you guys could talk about this on me within Discord. Add me, my name is FireController1847#9085 @PromyLOPh @brunoescalona

[2017-04-04 07:02] brunoescalona commented on #21
@PromyLOPh Thank you!!!!!! I didn't see the decrypt password and I was using the password itself.
@FireController1847 how are you obtaining the syncTime? Are you using just the decoded syncTime or are you using this formula? Maybe that could solve the problem:

[https://6xq.net/pandora-apidoc/json/](https://6xq.net/pandora-apidoc/json/)

[2017-04-04 07:02] FireController1847 commented on #21
@brunoescalona I'm doing exactly what's in the image above.

[2017-04-04 07:11] brunoescalona commented on #21
@TheWithz Are you sending the Body encoded? I think in the user login you should send it encoded.

[2017-04-04 07:14] brunoescalona commented on #21
My user brunoescalona#0787

[2017-06-19 01:00] FireController1847 opened #23 "Unofficial Pandora API Discord"
Hello! 👋

💠 I'm going around all of the Pandora Libraries's as well as their products, and telling users about a Discord server I've been making to allow us all to communicate easily and quickly. All library creators will be given their own role and their own support channel to (optionally) help users. All product creators will be given their own role, and their own support channels as well. Pleas

[2017-06-19 06:47] PromyLOPh commented on #23
See https://github.com/pithos/pithos/issues/479

[2017-06-19 08:36] FireController1847 commented on #23
You too huh. I was just trying to get the community together... :/

[2017-06-19 08:36] #23 closed

[2017-06-19 10:26] PromyLOPh commented on #23
I understand that and would like to encourage it, but 1) Discord is not
everybody’s favorite choice, instead 2) most people prefer asynchronous
communication (like email/mailing lists) and 3) this issue tracker is
not the appropriate choice for your quest.

[2017-07-19 06:14] FireController1847 commented on #21
@TheWithz How did you fix that damn Code 0 error?

[2017-07-19 06:42] FireController1847 commented on #21
@brunoescalona I've moved on from the Code 0 error to a... Code 1001? How the hell do you get a code 1001 on a user login?! I loop through the key of every object and encrypt it that way. Then the object ends up being stuff like {"loginType": "EE1EE3EBFD..."}

[2017-07-19 06:46] brunoescalona commented on #21
@FireController1847 hi I left the project time ago haha. I could not connect so I just leave it at the end.

[2017-07-19 06:47] FireController1847 commented on #21
@brunoescalona I keep leaving it but then I keep coming back thinking I'll do it this time.... of course, every time I do it I just receive the same ol' Code 0 error. Until recently, when I figured out something extremely important: We were encrypting incorrectly.

[2017-07-19 06:51] brunoescalona commented on #21
@FireController1847 why we were encryting incorrectly?

[2017-07-19 06:53] FireController1847 commented on #21
@brunoescalona When we had the object, we did not need to stringify it and then encrypt it, but instead we needed to encrypt every value within the object. Here's an example below.
[code]
to...
[code]

[2017-07-19 06:57] brunoescalona commented on #21
@FireController1847 ok I understand.... so when I have time I will try it again.

[2017-07-19 06:59] FireController1847 commented on #21
@brunoescalona I'll be on Discord if you want to chat.

[2017-07-19 07:04] brunoescalona commented on #21
@FireController1847 ok! if I have time I will connect. :) thank you!

[2017-08-01 03:49] feczo opened #25 "Question: How to paginate beyond the 100 limit on station feedback.thumbsup list"
This is not supported by the current library, but I patched the models just to return the dict of feedback as per documentation https://6xq.net/pandora-apidoc/json/stations/

so I can do:

from pandora import clientbuilder
p = clientbuilder.PydoraConfigFileBuilder()
client = p.build()
s = client.get_station('1316180904578479950')

so I can get the songs if I iterate through, single example

u'Stra

[2017-08-01 04:12] feczo commented on #25
Looks like there is POST /api/v1/station/getStationFeedback
parameters:
            pageSize: pageSize,
            positive: positive,
            startIndex: (= pageNumber * pageSize),
            stationId: stationId

 as per  https://pastebin.com/9br3VZjX

[2017-08-01 10:52] PromyLOPh commented on #25
That request URL looks like it belongs to the web client’s API.
station.getStationFeedback either does not exist or is not used by the
mobile client (Android), which is documented here. And
station.getStation does not support pagination as far as I know.

[2017-08-10 08:31] balutaeugen commented on #22
So yeah.
I'm writing this "parameteres" in POST body, still getting this error

[2017-08-10 14:22] balutaeugen commented on #21
@TheWithz How you actually decoded this "syncTime"?
I can't do it

[2017-12-26 05:40] abreksa4 commented on #21
Seeing an error 9 with the following request after a successful partner login:

[code]
[code]

Where `partnerAuthToken` and `auth_token` are the value returned from the successful partner login.

Any thoughts? Not sure if 0 is a valid `syncTime` value, but wouldn't think error 9 would be the response in that case.

[2017-12-26 05:43] FireController1847 commented on #21
@abreksa4 SyncTime cannot be 0, it's a built number using Date.now() and something else (for JS). It's been so long, though, that I can't remember. Sorry :(

[2017-12-26 06:11] abreksa4 commented on #21
@FireController1847 No problem, thanks for the pointer. Looks like my application (read: environment) was encrypting/decrypting the data incorrectly. `syncTime` is no longer zero, but getting a 1002 error now (INVALID_PARTNER_LOGIN) while using the info provided in the docs here for partner credentials, same as the rest of the implementations I've looked at.

Anyone experiencing that? Not really u

[2017-12-27 10:51] PromyLOPh commented on #21
Which partner credentials are you using? This one works fine for pianobar: https://6xq.net/pandora-apidoc/json/partners/#android

[2017-12-27 20:36] abreksa4 commented on #21
@PromyLOPh I'm using the android credentials as well, though I cycled through the rest of the available sets and got the same error, so thinking it's an issue on my and if other projects are using them successfully.

[2017-12-27 23:46] abreksa4 commented on #21
Alright, figured since I got this resolved I'd post the results here.

Turned out to be an issue with PHP 7.2 dropping mcrypt, and the ensuing headaches caused by trying to use openssl instead.

Asked the question on freenode in ##php, and was pointed at http://php.net/manual/en/function.openssl-encrypt.php#121545 within 20 minutes, courtesy of Sammitch.

Used the magic methods included in that co

[2018-04-14 05:40] FireController1847 commented on #21
@abreksa4 You're saying your PHP library is working. Do you mind talking with me on Discord or Email so I can try and get past the userLogin? I'm **_still_** getting Code 0. Add me on Discord `FireController1847#3577` or email me at `contact@visualfiredev.com`, as if you could give me some tips and questions that would be amazing (rather than me trying to decode your PHP library, one of the few la

[2018-04-14 05:58] FireController1847 commented on #21
Scratch that on that last comment. I cannot believe it, but I finally got it to work. Thank you everyone who was part of and helped in this thread (even though it's not mine xD)!

[2018-04-27 18:26] FireController1847 opened #29 "[REST] Question: How to play ads?"
I've currently got getFragment to work as well as requesting and getting songs to work, but I can't seem to find any way to play ads provided. I've been watching the Pandora website request multiple times to /v1/ad/getAdList, and only once has it responded with adType: "AUDIO_AD". Even then, it didn't provide any helpful URLs other than some XML and the `adRequestMetaData` as well as `lineId` and

[2018-09-28 03:23] hacker1024 opened #31 "station.addFeedback no longer returns any information other than whether the operation was successful"
It's not possible to get the feedback ID in this way anymore.

[2018-09-28 03:24] hacker1024 opened #32 "Calling station.getStation with the QuickMix won't return extended station information"
It will act as if `includeExtendedAttributes` is false.

[2018-09-28 03:25] hacker1024 opened #33 "Impossible to get feedback IDs for songs in the QuickMix?"
Due to #31 and #32, I can't think of any way to do this. How else can I get a feedback ID for a song from the QuickMix?

[2018-10-01 14:49] PromyLOPh commented on #33
QuickMix is not a station in the traditional sense. It’s not possible to rate songs, add seeds, …

[2018-11-26 06:40] FireController1847 commented on #29
oof

[2020-08-16 13:51] hacker1024 opened #36 "Many APIs broken"
It looks like a ton of APIs just changed or broke. None of the JSON-based clients I used seem to be able to log in (I was using one as this happened, and it failed to fetch the playlist, so looks like that's broken also).

My own REST-based app can't load the station list anymore (looks like `getShuffle`, is just, gone, as well as other things changing).

Hopefully, things have just changed and we

[2020-08-16 13:53] hacker1024 commented on #36
Oh, I just checked their website... Looks like they're just doing maintenance. Will close this issue once they've finished and we can see if anything changes.

[2020-08-16 14:01] PromyLOPh commented on #36
Works for me right now. Still an issue?

[2020-08-16 14:03] hacker1024 commented on #36
Yup, the web interface itself complains if you try to shuffle atm.

[2020-08-16 14:11] hacker1024 commented on #36
Turns out using `getStations` in my app now gives back a 500 status code and the following JSON:

[code]

Figured I'd mention this because it can be useful to prepare for this error in our apps now.

It's odd, because the above API seems to work fine in the web app...

I'm not going to spend much time investigating unless the issue remains after the maintenance, though.

[2020-08-16 14:42] hacker1024 commented on #36
More info: Looks like it's the REST `v1/listener/getProfile` (and probably the JSON equivilent) endpoint breaking logins. Same response as described above.

[2020-08-17 07:15] hacker1024 commented on #36
Everything seems good now.

[2020-08-17 07:15] #36 closed

[2020-09-01 13:40] hacker1024 opened #40 "Note that playlist audio is XOR encrypted"
I don't have time to write this up properly now, but I will later. Making this issue to record my findings in the meantime, as this isn't documented.

Pandora playlist audio is encrypted with a base64 encoded string, assigned to the `key` key in the response JSON.
Audio can be decrypted for testing using [this tool](https://gchq.github.io/CyberChef/#recipe=XOR(%7B'option':'Base64','string':''%7D,'

[2020-09-06 08:42] PromyLOPh commented on #40
This is true for the REST API, right?

[2020-09-06 09:20] hacker1024 commented on #40
Yup. Another thing I've found is that it uses an uncommon m4a codec that's causing trouble on pretty much any platform my app runs on (Android, iOS, and macOS), though VLC can handle it just fine.

[2021-01-03 13:23] hacker1024 opened #42 "Reverse engineering the REST API auth token format"
It has come to my attention that the REST API authentication token is actually base64 encoded data.
When a token expires, Pandora sends the following message back, implying that the token stores some sort of state.

`ListenerState in auth token does not match state in radio db`

It's possible that this token may include useful information like when the token will expire. I intend to look into this

[2021-01-13 08:30] hacker1024 opened #44 "[REST] Logging in with an existing auth token"
When opening the Pandora Web client, after having signed in already, it seems to log In with a request like the following, with an empty password string and a populated `existingAuthToken` field:

[code]
[code]

The existing auth token is always the one that was received when logging in previously.

Upon replicating this request, however, I get the standard invalid credential error:

[code]

Does

[2021-02-09 21:58] jasonful opened #45 "New parameters to https://www.pandora.com/api/v1/auth/login"
Up until yesterday, both the pandora.com web site and my own code were using the REST API to login with no problem, sending 4 parameters (existingAuthToken, username, password, keepLoggedIn).  But now the web site is sending three more parameters named OZ_TC, OZ_DT, OZ_SG.  The contents are encoded or encrypted.  Without those 3 parameters, my code is now getting back: {"message":"Invalid username

[2021-03-08 04:21] hacker1024 commented on #45
I've just ran into this issue as well (stopping my 2+ years of work towards my client in its tracks).

I'm inspecting the source code to see how these value are generated - if you want to, you can use my tool to download the sources (the download button is in the top right): https://toolbox.epimetheus.tk/#source_code

[2021-03-08 04:34] hacker1024 commented on #45
There seem to be no significant Web app source changes between version 1.153.0 (the last version I have before the change) and the latest 1.158.1, suggesting that this was a server-side change that's been long coming.

[2021-03-08 04:37] hacker1024 commented on #45
These new properties seem to be used for bot mitigation, in a new feature referred to as "Detector" internally.

[2021-03-08 04:37] hacker1024 commented on #45
There are references to White Ops.

[2021-03-08 04:53] hacker1024 commented on #45
The White Ops report is embedded into the login request - that's what those values are for.
The values seem to be generated by a script called `pagespeed.js`, which is downloaded from a URL generated with a few properties. Here's one:

https://s.hoplon.pandora.com/static/pandora/4.80.9/pagespeed.js?dt=5222681607985354683000&psv=4.80.9&ci=522268&spa=1&pd=acc&mo=2&di=pandora.com&si=SXMP&ui=106968562

[2021-03-08 04:56] hacker1024 commented on #45
Note the "hoplon" subdomain - a Hoplon is a Greek shield.

[2021-03-08 04:56] hacker1024 commented on #45
Another script is accessed by the script linked above: https://s.hoplon.pandora.com/sri/config.json

[2021-03-08 05:13] hacker1024 commented on #45
This may be the end for unofficial REST API usage; the bot detection seems to be highly reliant on the browser environment, and there aren't even public SDKs available.

Is the JSON API's authToken compatible with the REST API? If so, perhaps the initial login can be done with it, as this bot detection seems to be used only for login.

[2021-03-08 05:17] GodStar88 commented on #45
thank you for your comment, so how can we login pandora?

[2021-03-08 08:11] PromyLOPh commented on #45
@hacker1024 Please edit your initial post instead of posting multiple times in a row.

Looking at https://github.com/PromyLOPh/pianobar/issues/236 this was probably overdue. Pandora never really liked 3rd party developers using their web API’s.

Can I remove the documentation for that API from this repository?

[2021-03-08 11:05] hacker1024 commented on #45
It looks like the JSON API authToken is actually compatible with the REST API! That means existing software can use the JSON API for logging in and no other code needs to be updated. I think it's worth keeping the REST documentation up, as it's still usable in this way.

[2021-03-11 12:07] hacker1024 commented on #45
@GodStar88 Use the JSON API to obtain the `userAuthToken`, which can be used as the `authToken` with the REST API.

[2021-03-11 15:29] GodStar88 commented on #45
thank you for your reply, I tried that, but i can't login pandora

[2021-03-12 06:11] hacker1024 commented on #45
@GodStar88 what's going wrong exactly? Can you share your code?

[2021-03-12 09:33] GodStar88 commented on #45
I tried postman, I can't login

[2021-03-13 09:24] hacker1024 commented on #44
Closing as this is no longer relevant (#45)

[2021-03-13 09:24] #44 closed

[2021-03-14 08:28] hacker1024 opened #47 "JSON API reauthentication"
The official Android app can reauthenticate without storing the username and password, but I'm unable to do so myself.
It's be great if we could work this out, and add it to the documentation.
Below are my findings after exploring the login system.

### Login types
There are four `loginType` values that can be used with `auth.userLogin`: `user`, `deviceId`, `accessToken`, and `firstIntroToken`.

`

[2021-03-14 10:32] hacker1024 commented on #47
I worked it out - the device is associated with the user like so:

Method
`user.associateDevice`

Request (encrypted)
[code]

Response
[code]

[2021-03-14 10:33] hacker1024 commented on #47
Leaving this issue open as this can be added to the documentation.

[2021-03-15 04:58] GodStar88 commented on #44
![Untitled](https://user-images.githubusercontent.com/23701978/111105508-17700680-858e-11eb-8f02-dc70f3608e73.png)

{
    "message": "The request could not be validated",
    "errorCode": 0,
    "errorString": "INVALID_REQUEST"
}

how can i get existing auth token?

[2021-03-15 04:59] GodStar88 commented on #44
![Untitled](https://user-images.githubusercontent.com/23701978/111105573-45ede180-858e-11eb-891d-d5bfb7fbfbc7.png)

{
    "existingAuthToken": null,
    "keepLoggedIn": true,
    "password": "dfssdf345",
    "username": "go@gmail.com"
    }

{
    "message": "The request could not be validated",
    "errorCode": 0,
    "errorString": "INVALID_REQUEST"
}

how can i get existing auth token?

[2021-03-15 05:04] hacker1024 commented on #44
The only way now is through the JSON API

[2021-03-15 05:05] GodStar88 commented on #44
Ok, do you have skype?

[2021-03-20 23:38] perette commented on #45
There are 3 new fields for authentication.  If they are missing, the login fails as if it's invalid credentials.

- OZ_DT - string from Hoplon (see below), unchanged
- OZ_TC - encryption key from Hoplon, unchanged
- OZ_SG - event log, encrypted; empty string not valid

`OZ_DT` and `OZ_TC` are retrieved from a JSON response obtained via GET https://s.hoplon.pandora.com/sri/config.json?dt=5222681607

[2021-03-24 14:53] GodStar88 commented on #45
thank you, I am bot developer and I can't login pandora in selenium chrome browser, can you help me that?

[2021-03-30 06:20] hacker1024 commented on #45
@GodStar88 This whole system is designed to block bots. I think you're out of luck.

[2021-04-12 06:51] hacker1024 opened #48 "Partner updates"
At some point, the android app seems to have switched to `android-tuner.pandora.com`, though the old subdomain still works. Everything else remains the same.

Additionally, I have extracted the following partner details from version 8.7.1 of the Android app. Perhaps they can be added to the documentation for the sake of completeness? It still works. I tried making a PR, but I can't seem to get the

[2021-04-15 19:24] H0r53 commented on #44
@hacker1024 is there a basic example for User Login via the JSON API using something like CURL? I just want to make some simple requests to workaround this issue (migrating from REST API) and the docs aren't very clear to me.

[2021-04-15 20:35] H0r53 commented on #42
Could it simply be base-64 encoded binary data that they associate with account data in their database?  I would think the token expiration is not included within the token itself, but rather they likely use the token as a UUID to lookup a record on their end.

[2021-04-15 21:42] H0r53 commented on #45
Any update on this? I've been doing research as well and here are a few additional notes. As noted, OZ_SG is an encrypted JSON encoded array of messages, including various data from browser information to events. OZ_TC is used for the encryption. OZ_TC and OZ_DT come from a call to /config.json.

I've captured the unencrypted values of OZ_SG for several logins, some manual and some automated via s

[2021-04-16 07:16] PromyLOPh commented on #48
Added with dc40fd41fc895346a873412ef177d3a3ccf451de, thank you!

[2021-04-16 07:16] #48 closed

[2021-04-17 09:39] hacker1024 commented on #45
I copied the OZ_TC, OZ_DT, and OZ_SG values from an intercepted request into my code and managed to log in with the same credentials, but not with another account.

[2021-04-17 09:44] hacker1024 commented on #45
I think I missed an email where someone asked for an example of using JSON authentication to obtain a token to be used with the REST API, to be used with CURL. I can't find that message again, but I'll respond here nonetheless:

Logging in with the JSON API is a multi-step process, requiring partner authentication and sync-time handling. I can use my WIP Dart package to build a CLI tool that takes

[2021-04-17 16:16] H0r53 commented on #45
@hacker1024 I was the one asking about that. A tool as you describe would certainly be useful.

[2021-04-18 01:44] FireController1847 commented on #45
This would be a godsend if you're able :)

[2021-04-18 13:26] hacker1024 commented on #45
@H0r53 @FireController1847
Here you go: https://github.com/EpimetheusMusicPlayer/pandora_authenticator
Binaries are in the releases.

[2021-04-19 01:01] FireController1847 commented on #45
Sweet, thanks a ton. I managed to get the JSON endpoint up and running after quite a lot of trail and error. It appears as though the REST API does not accept userAccessTokens achieved via the JSON API. I'm not sure why that is the case so this will be super helpful

[2021-04-19 01:21] hacker1024 commented on #45
I use the JSON API for the tool, but it worked for the REST API for me...

[2021-04-19 01:30] FireController1847 commented on #45
Really? Maybe I was doing something wrong, I'll take another shot at it tonight.

[2021-04-19 02:53] hacker1024 commented on #42
Possibly, but the expired error message references a `ListenerState` _in_ the authentication token.

Here are six more tokens, retrieved in quick succession:

`VIG280FHDA0eGu2afiWsF1K1b/N36CkLH6lf9WCTNo/9zdDHokkLK7mQ==`
`VIojC6zfuZse46P1c765ADK3K0HGRSkGTliS1BR7haa7q2zyifhCC9mQ==`
`VIirUwvxHipElkKksjrxnwVKBXgmvu2hA2wWegdHLsDzw8AI3vvWw7pA==`
`VITXTCn1yy656XXzprlDSUMK67sJkvVQxv9DMED8if33TT+7b0dAtR/A=

[2021-04-19 04:45] FireController1847 commented on #45
@hacker1024 So I just took another shot at it, and it appears that the access token that I am getting through the JSON api is invalid for use with the REST api, but yours is not. What partner are you using for authentication? At the moment I am using IOS because that is the only one I could get the `station.getPlaylist` method to work on JSON, all the other ones failed..

[2021-04-19 04:52] hacker1024 commented on #48
@PromyLOPh Sorry, I should have been clearer - the partner credentials I found were extracted from a very old version of the Android app. The credentials from before are the most recent.

This is important, as using the old credentials actually seems to result in old JSON structures being returned by the backend which don't contain new things added in later versions.

[2021-04-19 04:53] hacker1024 commented on #45
I'm using Android, and I've also been able to use the old credentials I mentioned in #48.
I'm not sure why your tokens are shorter, That's interesting. Could you perhaps make a new account, and provide the username, password, and an example authtoken?

[2021-04-19 04:56] FireController1847 commented on #45
Sure thing. I've been using a testing account for all of this so I have no problem sharing these, I'll delete them once you're done working with them. I switched to using the same android one as you and still cannot use `station.getPlaylist` and it is still considered invalid for REST.

Username: `contact@visualfiredev.com`
Password: `WVf@B36BN8Adu`
AuthToken: `VI6HYue616mhoAhNwoAwfxBxXTELw4CbgNIT

[2021-04-19 04:59] hacker1024 commented on #45
Interesting - that token does in fact give me the error you described. It's missing a `=` at the end, but that actually doesn't matter anyway as the backend can decode it just fine. I'm assuming that was just a typo.

Can you try this one: `VIH3TsTsbIl6tFZQEz8DjhbTQ9rp650028pQ7q/ttfsbQI7v7N5rgEYw==`

[2021-04-19 05:00] FireController1847 commented on #45
Strange, the one you provided me has worked. Also, the second equal at the end was not a typo that is how I have been receiving them, I find it strange that you are receiving them differently than me haha. Maybe we should continue this discussion on a platform like Discord? If you want, of course. My username is FireController1847#3577

[2021-04-19 05:01] hacker1024 commented on #45
Sure thing. @PromyLOPh, could you also maybe enable GitHub discussions?

[2021-04-19 12:30] PromyLOPh commented on #45
@hacker1024 Yeah, done. Please move discussions there.

[2021-04-19 12:34] PromyLOPh commented on #48
Whoops, fixed with e5d08bf95b3ecd193b1917b07d566df1e9f849de

[2021-04-26 16:59] H0r53 commented on #42
Interesting. Have you considered fuzzing individual bytes until the ListenerState error displays? Also, I would imagine either some sort of session identifier or account identifier is included in the token, unless they are in fact using the token as a UUID that they look up on the backend. Perhaps hybrid, as I'm sure you were using the same user account in your collection of these auth tokens.

[2021-04-26 18:44] H0r53 commented on #45
@PromyLOPh you provided a C++ implementation of the encryption - would it be possible to provide the corresponding decryption routine?

[2021-04-27 05:57] PromyLOPh commented on #45
@H0r53 Nope, not my code, credit goes to @perette

[2021-04-27 08:35] hacker1024 commented on #42
I haven't tried all that thoroughly, but I did try changing random bytes in different areas. Only the very last nibble seems to be able to be changed without invalidating the token.

[2021-04-27 14:43] H0r53 commented on #45
Apologies, the question was intended for @perette

[2021-04-28 00:59] perette commented on #45
@H0r53 Sorry, I have no plans to implement the decryption.  I am curious what you need it for?  With a breakpoint set in the JavaScript in the right place, you can retrieve the unencrypted messages using a browser's inspection window.

[2021-04-28 01:15] H0r53 commented on #45
@perette let's say I was limited to intercepting / forwarding requests without the luxury of a browser's devtools. With decryption it would become easier to recover messages, adjust, and re-encrypt.

[2021-05-26 08:36] blackarcanis commented on #47
Hi @hacker1024, thank you for your help with this documentation!
A quick question: when using
`{
  "loginType": "deviceId"
}`

To get a fresh token, how can I send the previous deviceId I have "associate" with the user? Seems just sending "deviceId":"xxx" in addition of "loginType" is not working :/

[2021-05-26 10:00] blackarcanis commented on #47
Hi @hacker1024,
Thank you for your great documentation here!
I have been able to successfully associate a device, but when I try to reauthenticate using the loginType 'deviceId' with a 'deviceId' paramater in the body, I just got an unexpected error code 9.
Any idea what is missing in this reauthenticate request?

[2021-05-27 07:20] blackarcanis commented on #47
@hacker1024 Hi! Thank you for this documentation. However, even after using the "user.associateDevice", when I try to reauthenticate the user token due to the expiration, I'm still getting a 1001 error.
Any idea why? I'm sending the exact same "deviceId" previously registered.

[2021-12-16 00:23] 89z opened #52 "onDemand.getAudioPlaybackInfo"
Example request:

[code]

Example response:

[code]

https://6xq.net/pandora-apidoc/rest/endpoints

[2021-12-18 03:01] 89z commented on #47
So do you need to use `"loginType":"deviceId"`? It seems like you could always use `"loginType":"user"`

[2021-12-18 03:32] 89z commented on #47
Looks like the `method` I am using accepts `userAuthToken` for `deviceId` or `user`.

[2021-12-19 16:29] 89z commented on #52
I implemented this myself:

https://github.com/89z/mech/tree/master/pandora

[2021-12-19 16:29] #52 closed

[2021-12-19 20:49] 89z opened #53 "Key source"
I am trying to find the source of this key:

https://github.com/PromyLOPh/pandora-apidoc/blame/master/json/partners.rst#L20

added here:

https://github.com/PromyLOPh/pandora-apidoc/commit/943c1b50abf1585744963b0eb3478b5e18141656

[2021-12-19 22:14] 89z commented on #53
Found it:

[code]

https://github.com/skylot/jadx

[2021-12-19 22:14] #53 closed

[2021-12-20 08:01] PromyLOPh commented on #53
Alright. Don’t expect any help from me if

1) you [cross-post](https://github.com/PromyLOPh/pianobar/issues/726) your question to multiple locations and
2) your quest is to build a downloader for Pandora.

[2021-12-20 14:25] 89z commented on #53
I post many issues. Sometimes duplicates get posted. This happens when the same person has two of essentially the same repo. Sorry about that, but its a consequence of people maintaining two repos that are similar enough that they should be merged, combined with my inattention.

Regardless of what my quest might be, I think its important to not have "magic numbers" in a repo. If something happens

[2022-09-03 23:52] Behinder opened #55 "REST API - invalid username/password error even with valid credentials"
As in topic. Tested in PAW.

[2022-09-04 02:24] hucario commented on #55
Have you read through #45 ?

[2022-09-04 13:26] Behinder commented on #55
Now I read this whole discussion, and I understand there is system against
bots that prevent using this API.
And solution is not described in documentation and the whole discussion is
one year old, lot of things could change during this time
So what is current state? Which partner login needs to be used for
authentication?
what are the all headers fields required?
I had no luck with getting partne

[2022-09-04 18:08] hucario commented on #55
OK, so the workaround we figured out is thus:
- The user auth token (UAT) you get from the JSON api works with the REST api as well
- log in with the JSON api
- use the UAT provided by that for the REST api

holdups / possible problem points:
- the JSON api requires you to have a User-Agent of `libcurl`. We haven't tested very many others, but we know that one works and browser User-Agents general

[2022-09-04 18:48] Behinder commented on #55
Thanks for quick response.  I am looking forward to your code example. I
wanted to write Pandora client in Swift because why not :)

On Sunday, 4 September 2022, hucario ***@***.***> wrote:

[2022-09-04 19:03] hucario commented on #55
Alright, here's an implementation ripped straight from [hucario/Anesidora:typescript](https://github.com/hucario/Anesidora/tree/typescript/src/common/background) and further lobotomized for just the purpose of getting a UAT. I have tested this precisely 0 times, but it should show what you need to do.

https://gist.github.com/hucario/9ca6b9f6a16d7d9a26573c7ca740ff03

If it helps, here are the typi

[2022-09-05 16:43] Behinder commented on #55
Big thanks for the effort. I was trying to convert your code to Swift. This is unfortunately not possible as u use functions like fromCharCode that has no equivalent in Swift. I tried different solutions and once e.g. for code '44' i got letter "D"  and on Javascript MDN page 44 means ",".  Swift does not offer possibility for getting character from unicode stored in variable. It's pity but that's

[2022-09-07 13:12] hacker1024 commented on #55
@Behinder
Maybe this is useful to you - I made a cross-platform CLI tool that logs in to Pandora and retrieves an authentication token. It works well programmatically through standard input and output channels.

https://github.com/EpimetheusMusicPlayer/pandora_authenticator

Dart is not the best language for such a tool (the resultant programs are relatively large and slow), but I'm leveraging my

[2022-09-07 21:36] Behinder commented on #55
Thank you very much for the effort. I learned what you recently discovered that some programming language are not suitable to do certain task. Big appreciation that you were able to finish this CLI tool.

for reason unknown `dart pub get` gives me error I cannot connect to github, which is weirs as I was able to clone your repo.

[2022-09-07 23:07] hacker1024 commented on #55
Ah, that's because I was using the no-longer-supported git:// protocol - try now. I also have binaries for every platform in the releases.

[2022-09-08 13:28] Behinder commented on #55
It really looks that API is impossible to use :(

Ok I was able to get token from your binary, however token received is invalid. After doing request I always get:
[code]
I am also including in request X-CsrfToken taken from HEAD request:
[code]
so either authtoken is invalid just few seconds after generation, or expired cookie invalidates token.

[2022-09-09 02:31] hucario commented on #55
Alternatively, you could use the JSON API, which - while clumsier - still does work. That's what I use, and I have few problems

[2022-10-11 06:54] Behinder commented on #55
So, using REST API not possible :(
 JSON API does not work for me either as I proven authToken is invalid,
csrf token got from HEAD request set expired cookie.
Thanks for all the help tough, one less project out of my head and lot of
time spared.

On Fri, Sep 9, 2022 at 4:31 AM hucario ***@***.***> wrote: